About the Dataset:

id: unique id for a news article
title: the title of a news article
author: author of the news article
text: the text of the article; could be incomplete
label: a label that marks whether the news article is real or fake:
  -->  1: Fake News
  -->  0: Real News

## Importing the libraries :

In [1]:
import numpy as np
import pandas as pd
import re
from nltk.corpus import stopwords

In [2]:
# import nltk
# nltk.download('stopwords')

In [3]:
# stopwords.words('english')

## Data Preprocessing

In [4]:
# loading the dataset 
news_data = pd.read_csv("train.csv")

In [5]:
news_data.head()

,id,title,author,text,label
0,0,House Dem Aide: We Didn’t Even See Comey’s Let...,Darrell Lucus,House Dem Aide: We Didn’t Even See Comey’s Let...,1
1,1,"FLYNN: Hillary Clinton, Big Woman on Campus - ...",Daniel J. Flynn,Ever get the feeling your life circles the rou...,0
2,2,Why the Truth Might Get You Fired,Consortiumnews.com,"Why the Truth Might Get You Fired October 29, ...",1
3,3,15 Civilians Killed In Single US Airstrike Hav...,Jessica Purkiss,Videos 15 Civilians Killed In Single US Airstr...,1
4,4,Iranian woman jailed for fictional unpublished...,Howard Portnoy,Print \nAn Iranian woman has been sentenced to...,1

In [6]:
# printing the number of null items in the dataset
news_data.isnull().sum()

id           0
title      558
author    1957
text        39
label        0
dtype: int64

In [7]:
# replacing the null items to the empty string  
news_data = news_data.fillna(" ")

In [8]:
news_data.isnull().sum()

id        0
title     0
author    0
text      0
label     0
dtype: int64

In [9]:
# merging the author name and news title 
news_data['content'] = news_data['title']

In [10]:
news_data['content']

0        House Dem Aide: We Didn’t Even See Comey’s Let...
1        FLYNN: Hillary Clinton, Big Woman on Campus - ...
2                        Why the Truth Might Get You Fired
3        15 Civilians Killed In Single US Airstrike Hav...
4        Iranian woman jailed for fictional unpublished...
                               ...
20795    Rapper T.I.: Trump a ’Poster Child For White S...
20796    N.F.L. Playoffs: Schedule, Matchups and Odds -...
20797    Macy’s Is Said to Receive Takeover Approach by...
20798    NATO, Russia To Hold Parallel Exercises In Bal...
20799                            What Keeps the F-35 Alive
Name: content, Length: 20800, dtype: object

## Stemming :

Stemming is the process of reducing a word to its Root word
Example of stemming for root word "like" include:

-> "likes"
-> "liked"
-> "likely"
-> "liking"

In [11]:
# from nltk.stem.porter import PorterStemmer
# port_stem = PorterStemmer()

In [12]:
# # creating a function which will apply stemming in every word 
# def stemming(content):
#     stemmed_content = re.sub('[^a-zA-Z]', ' ', content)
#     stemmed_content = stemmed_content.lower()
#     stemmed_content = stemmed_content.split()
#     stemmed_content = [port_stem.stem(word) for word in stemmed_content if not word in stopwords.words('english')]
#     stemmed_content = ' '.join(stemmed_content)
#     return stemmed_content

In [13]:
# news_data['content'] = news_data['content'].apply(stemming)

In [14]:
news_data['content']

0        House Dem Aide: We Didn’t Even See Comey’s Let...
1        FLYNN: Hillary Clinton, Big Woman on Campus - ...
2                        Why the Truth Might Get You Fired
3        15 Civilians Killed In Single US Airstrike Hav...
4        Iranian woman jailed for fictional unpublished...
                               ...
20795    Rapper T.I.: Trump a ’Poster Child For White S...
20796    N.F.L. Playoffs: Schedule, Matchups and Odds -...
20797    Macy’s Is Said to Receive Takeover Approach by...
20798    NATO, Russia To Hold Parallel Exercises In Bal...
20799                            What Keeps the F-35 Alive
Name: content, Length: 20800, dtype: object

In [15]:
# seperating the data and label 
X = news_data['content'].values
Y = news_data['label'].values

In [16]:
print(X)

['House Dem Aide: We Didn’t Even See Comey’s Letter Until Jason Chaffetz Tweeted It'
 'FLYNN: Hillary Clinton, Big Woman on Campus - Breitbart'
 'Why the Truth Might Get You Fired' ...
 'Macy’s Is Said to Receive Takeover Approach by Hudson’s Bay - The New York Times'
 'NATO, Russia To Hold Parallel Exercises In Balkans'
 'What Keeps the F-35 Alive']

In [17]:
print(Y)

[1 0 1 ... 0 1 1]

## Converting the textual data into the numerical data
So that the model can understand and make predictions

In [18]:
from sklearn.feature_extraction.text import TfidfVectorizer

In [19]:
vector = TfidfVectorizer()
vector.fit(X) # The variable X have our stemmed data
X = vector.transform(X)

In [20]:
print(X)

  (0, 20993)	0.19474659608460163
  (0, 20360)	0.28742097773915143
  (0, 20010)	0.3768145560270482
  (0, 17169)	0.24375630561009903
  (0, 11216)	0.26912270344212486
  (0, 10326)	0.3023289263011112
  (0, 10247)	0.16582278445384005
  (0, 9386)	0.20041027857069765
  (0, 6878)	0.24926429301181982
  (0, 5568)	0.2668922837502577
  (0, 5246)	0.2706852894484654
  (0, 4029)	0.22205447121783736
  (0, 3457)	0.33072883488177524
  (0, 822)	0.28502782091086426
  (1, 21334)	0.39360717600312567
  (1, 13507)	0.21060274898999704
  (1, 9155)	0.24935186416138613
  (1, 7669)	0.4821092709819335
  (1, 3836)	0.25244659620182697
  (1, 3147)	0.5009555435818291
  (1, 2752)	0.20822336759105836
  (1, 2284)	0.38480054625610366
  (2, 21548)	0.30696759622100733
  (2, 21179)	0.3347280896066456
  (2, 19920)	0.43134210729209976
  :	:
  (20797, 19486)	0.09292089521946761
  (20797, 19334)	0.07527441601260844
  (20797, 19072)	0.3521422215000689
  (20797, 16785)	0.2782265988101692
  (20797, 15718)	0.3552849830462018
  (20797, 13064)	0.09008594729781287
  (20797, 11638)	0.405269235630744
  (20797, 10209)	0.14711797135243715
  (20797, 9419)	0.3880743224111825
  (20797, 3040)	0.16986229072095718
  (20797, 2045)	0.37587433732809516
  (20797, 1327)	0.3521422215000689
  (20798, 19520)	0.12021465841049195
  (20798, 16707)	0.23168304874364712
  (20798, 13942)	0.47257807978944466
  (20798, 12924)	0.3303374946602197
  (20798, 9724)	0.13510492169072963
  (20798, 9241)	0.3667493368667659
  (20798, 6975)	0.47257807978944466
  (20798, 1868)	0.47257807978944466
  (20799, 21107)	0.3185284474796143
  (20799, 19334)	0.12155849075822305
  (20799, 10634)	0.5408967805381297
  (20799, 940)	0.5317521158888292
  (20799, 258)	0.555367915459697

Splitting the dataset to trainig and test data

In [21]:
from sklearn.model_selection import train_test_split

X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size = 0.2, stratify = Y, random_state = 2)

# Training the model through : Logistic Regression 
Logistic Regression is mainly used for binary classification where the values are either 1 or 0, yes or no, and True or False

In [22]:
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

model = LogisticRegression()
model.fit(X_train, Y_train)

LogisticRegression()

Evaluation and accuracy :

In [23]:
X_train_prediction = model.predict(X_train)
training_data_accuracy = accuracy_score(X_train_prediction, Y_train)

In [24]:
print("Accuracy on training data : ", training_data_accuracy)

Accuracy on training data :  0.9414663461538462

### Accuracy score on test data :

In [25]:
X_test_prediction = model.predict(X_test)
test_data_accuracy = accuracy_score(X_test_prediction, Y_test)

In [26]:
print("Accuracy on test data : ", test_data_accuracy)

Accuracy on test data :  0.9307692307692308

### Predictive system

In [44]:
X_new = X_test[11]

prediction = model.predict(X_new)

if (prediction[0] == 0):
    print("The news is Real")
else:
    print("The news is Fake")

The news is Fake

In [47]:
pickle.dump(model, open('model.pkl', "wb"))
pickle.dump(vector, open('vector.pkl', "wb"))

In [46]:
model = pickle.load(open('model.pkl', "rb"))

print(model.predict(X_new))

[1]